// .channel-search__input__text {
//     padding: 5px 5px 5px 30px;
//     // background: url('../assets/icon.png') no-repeat scroll 7px 7px;
// }

.channel-search__input__wrapper {
    color: white;
    position: relative;

    input {
        padding: 10px 10px 10px 35px;
        color: white;
        background-color: rgb(89, 147, 68);
        // border: solid white 1px;
        border: none;
        border-radius: 7px;
        transition: .3s;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgb(132, 190, 110);
            transition: .3s;
        }
    }

    &:after {
        font-family: 'FontAwesome';
        content: '\f002';
        position: absolute;
        left: 10px;
        top: 10px;
    }
}

.channel-list__list__wrapper .str-chat.str-chat-channel-list {
    transition: left 200ms ease-in-out;
    position: inherit;
    min-height: unset;
    overflow-y: unset;
    box-shadow: none;
}

.channel-search__result-container {
    display: flex;
    padding: 10px 10px 0 10px;

    &:last-of-type {
        padding: 10px;
    }

    .channel-search__result-user {
        width: 100%;
    }

    p {
        margin: 0;
    }
}

.channel-search__result-user {
    display: flex;
}

.channel-search__results {
    background-color: #599344;
    // padding: 10px;
    margin-top: 10px;

    .channel-search__results-header {
        margin: 0;
        padding: 10px;
        border-bottom: solid 1px #6ca537;
    }

    .channel-search__results-header:last-of-type {
        margin-top: 20px;
    }
}

.channel-search__results-header-loading {
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 13px;
    padding: 20px;
    margin: 0;
}

.channel-search__result-container {
    &:hover {
        font-weight: bold;
        // border-bottom: 1px solid #e0e0e0;
    }
}