$channelXPadding: 20px;

.create-channel__header, .edit-channel__header {
    display: flex;
    align-items: center;
    padding: 0 $channelXPadding;
    border-bottom: 1px solid rgb(236, 236, 236);

    button {
        margin-left: auto;
        background-color: transparent;
        border: none;
        font-size: 20px;
    }
}

.channel-name-input__wrapper {
    padding: 0 $channelXPadding;
    border-bottom: 1px solid lightgray;

    p {
        font-size: 15px;

        &:last-of-type {
            margin-top: 40px;
        }
    }

    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        background-color: rgb(224, 233, 233);
        border-radius: 5px;
    }
}